<div class="container">

  <h1><strong>Rover's photos on Mars</strong></h1>
  <h3>(by Martín Di Lisio)</h3>
  <hr/>

  <div class="row">
    <div class="col-md-3">
      <label>Rover</label>
    </div>

    <div class="col-md-9">
      <select class="form-select" aria-label="Default select example" (change)="selectRover($event)">
        <option selected>{{ defaultValue }}</option>
        <option value="curiosity">Curiosity</option>
        <option value="opportunity">Opportunity</option>
        <option value="spirit">Spirit</option>
      </select>
    </div>
  </div>
  
  <br>

  <h3>Results</h3>
  <hr>


  <div class="col-md-12 text-center" *ngIf="!roverPhotos || roverPhotos.length === 0">
    <span>No results yet</span>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4" *ngIf="roverPhotos.length > 0">
    <div class="col" *ngFor="let data of roverPhotos">
      <app-photo [data]="data" ></app-photo>
    </div>
  </div>

</div>